body {
  // Color
  --base-color: #f9f9f9;
  --primary-color: #040403;
  --color-text-primary: #040403;
  --color-text-primary-80: #04040380;
  --color-text-primary-65: #04040365;
  --color-text-primary-25: #04040325;

  --account-color: #5b7553;

  // Body Font Size
  --text-base-size: 1rem;

  // Type Scale
  --text-scale-ratio: 1.2;

  --text-4xs: calc(var(--text-3xs) / var(--text-scale-ratio));
  --text-3xs: calc(var(--text-2xs) / var(--text-scale-ratio));
  --text-2xs: calc(var(--text-xs) / var(--text-scale-ratio));
  --text-xs: calc(var(--text-base-size) / var(--text-scale-ratio));
  --text-sm: var(--text-base-size);
  --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-2xl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-3xl: calc(var(--text-2xl) * var(--text-scale-ratio));
  --text-4xl: calc(var(--text-3xl) * var(--text-scale-ratio));
  --text-5xl: calc(var(--text-4xl) * var(--text-scale-ratio));
  --text-6xl: calc(var(--text-5xl) * var(--text-scale-ratio));
}
