.latest{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    &__title{
        align-self: flex-start;
        font-size: var(--text-md);
        font-weight: 600;
    }
    
    &__card-list{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .button__see-more{
        margin-top: 1rem;
        padding: 0.3rem;
        border: 1px var(--primary-color) solid;
        transition: all 0.1s;
    }
}

@media screen and (min-width: 1024px) {
    .latest{
        max-width: 55%;
    }
}